In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
# YOUR CODE HERE!
df_lending_data = pd.read_csv("Resources/lending_data.csv")

# Display sample data
df_lending_data.head(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
5,10100.0,7.438,50600,0.407115,4,1,20600,0
6,10300.0,7.490,51100,0.412916,4,1,21100,0
7,8800.0,6.857,45100,0.334812,3,0,15100,0
8,9300.0,7.096,47400,0.367089,3,0,17400,0
9,9700.0,7.248,48800,0.385246,4,0,18800,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
## Separate the data into labels (y) and features (X)

# Define the target variable (loan_status)
y = df_lending_data["loan_status"]

# Define the feature variables (all other columns except loan_status)
X = df_lending_data.drop(columns=["loan_status"])

In [4]:
# Review the y variable Series
# Display target variable (y)
print("Target Variable (y):")
print(y.head(10))

Target Variable (y):
0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: loan_status, dtype: int64

In [5]:
# Review the X variable DataFrame
# Display feature variables (X)
print("\nFeature Variables (X):")
print(X.head(10))

Feature Variables (X):
   loan_size  interest_rate  borrower_income  debt_to_income  num_of_accounts  \
0    10700.0          7.672            52800        0.431818                5
1     8400.0          6.692            43600        0.311927                3
2     9000.0          6.963            46100        0.349241                3
3    10700.0          7.664            52700        0.430740                5
4    10800.0          7.698            53000        0.433962                5
5    10100.0          7.438            50600        0.407115                4
6    10300.0          7.490            51100        0.412916                4
7     8800.0          6.857            45100        0.334812                3
8     9300.0          7.096            47400        0.367089                3
9     9700.0          7.248            48800        0.385246                4

   derogatory_marks  total_debt
0                 1       22800
1                 0       13600
2                 0       16100
3                 1       22700
4                 1       23000
5                 1       20600
6                 1       21100
7                 0       15100
8                 0       17400
9                 0       18800

### Step 3: Split the data into training and testing datasets by using `train_test_split`.

In [6]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
# Assigning a random_state of 1 for reproducibility
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

# Display the shapes of the training and testing sets
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((62028, 7), (15508, 7), (62028,), (15508,))

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [7]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model with a random_state of 1
logistic_model = LogisticRegression(random_state=1)

# Fit the model using the training data
logistic_model.fit(X_train, y_train)

# Display model coefficients
logistic_model.coef_, logistic_model.intercept_

(array([[ 4.65493177e-03, -1.21882486e-03, -1.16564682e-03,
          3.10079032e-01, -1.39173075e-01,  1.34396996e+00,
          2.29851129e-04]]),
 array([-4.9082417e-08]))

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [8]:
# Make a prediction using the testing data
y_pred = logistic_model.predict(X_test)

# Display the first few predictions
y_pred[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

### Step 3: Evaluate the model’s performance by doing the following:

* Generate a confusion matrix.

* Print the classification report.

In [10]:
# Generate a confusion matrix for the model
conf_matrix = confusion_matrix(y_test, y_pred)
# Generate the classification report
class_report = classification_report(y_test, y_pred)

In [11]:
# Print the classification report for the model
print("Confusion Matrix:")
print(conf_matrix)
print("\nClassification Report:")
print(class_report)

Confusion Matrix:
[[14924    77]
 [   31   476]]

Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.99      1.00     15001
           1       0.86      0.94      0.90       507

    accuracy                           0.99     15508
   macro avg       0.93      0.97      0.95     15508
weighted avg       0.99      0.99      0.99     15508

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** 100% precision in healthy loans and 86% precision in high-risk loans

---